#footer{
	background-color: $grey-black;
	@include text($color: $white, $weight: 100);
	display: flex;
  flex-direction: column;
	justify-content: center;
  text-align: center;
  padding:6%;
  h4:first-child{
  	@include text($size: 1.3em, $weight: 100);
  	margin-bottom: 10px;
  }
  .topFooter > h4:nth-child(1n+2){
  	@include text($size: 0.75em, $weight: 100);
  }
  .socialMedia{
  	margin: 35px;
  }
  button{
    font-size: 1.45em;
    background: #F10B;
    border-radius: 50%;
  }
}
