#nav {
  width:100%;
}

.static {
  @include text($size: 0.85em, $weight: 200);
	height: 55px;
  display: flex;
  width:100%;
  align-items: center;
  justify-content: flex-end;
	& > section{
		display:flex;
	  align-items: center;
	}
  .left span:nth-child(1){
  	position:relative;
  	padding-left: 100px;
  	padding-right:10px;
  }
  .left span,
  .center span:nth-child(2){
		display: none;
  }
	img{
		margin-right: 10px;
	}
	> div{
		margin-right: 5px;
	}
}

.menu-collapsed {
  transition:all .25s;
  position:absolute;
  top:10px;
  left:9px;
  height:36px;
  width:36px;
  z-index:1;
  cursor:pointer;
    ul {
      transition:all .05s;
      position:fixed;
      left:-9000px;
    }
  }
  .bar {
    @include text($size: 0.85em, $weight: 200);
    position:absolute;
    top: 15px;
    height:2px;
    width:30px;
    background-color:$black;    
    &:before {
      @include barIcon(-8px);
    }
    &:after {
      @include barIcon(8px);
    }
    > span {
      position: relative;
      left: 35px;
      bottom: 8px;
    }
  }
.menu-expanded {
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:all .25s;
  text-align:center;
  height: 555px;
  width: 50%;
  top:0;
  left:0;
  background-color:$grey;
    ul {
    transition:all .05s;
    position:relative;
    left:0;
    z-index:2;
    & li{
      margin: 5%;
    }
  }
  a {
    transition:all .15s;
    text-decoration:none;
    color: $white;
    font-weight: 100;
    &:hover {
      transition:all .15s;
      border:2px solid rgb(255,255,255);
      padding:5%;
    }
  }
  .bar {
    background-color:transparent;
    transition:all .25s;
    &:before {
      @include barBFAF(.25s,45,-0px);      
    }
    &:after {
      @include barBFAF(.25s,-45,0px);
    }
  }
}
@include tablet {
  .menu-expanded {
    width: 30%;  
    height: 653px;  
  }
  .static{
    justify-content: space-between;
  }
  .static .left span,
  .static .center span:nth-child(2){
    display:initial;
    padding:0 10px;
  }
}



