#section3,
.sec3Image{
	display: flex;
	height:320px;
}

#section3{
	margin-top: -6px;
	.lifeStyle,
	.sec3Image{
		display:none;
	}
	.form{
		background-color: $yellow;
		width:100%;
		display:flex;
		justify-content: center;
    align-items: center;
		& form {
			width: 80%;
    	text-align: center;
    	input,
    	button,
    	select{
    		height: 3em;
    		margin-bottom: 5%;
    		padding-left: 2%;
    		width: 49%;
    		background-color: transparent;
    		border: 1px solid $white;
    		outline: 1px solid $white;
    		border: 0;
    	}
    	& input:nth-child(4){
				width:100%;
    	}
    	button,
    	select{
    		width:100%;
    	}
		}
		input::-webkit-input-placeholder,
		button,
		select{
			color: $white !important;
		} 
	}
	@include sm-tablet {
		.lifeStyle{
			display:flex;
			flex:2;

			div{
				width:60%;
				margin:auto;
				font-size:1.55em;
				h3{
					font-weight: 100;
				}
				> pre:first-child{
					padding-bottom:15px;
					border-top: 1px solid orange;
					width:60px;
				}
				pre:nth-child(3){
					padding-top:15px;
					border-bottom: 1px solid orange;
					width:60px;
					float: right;
				}
			}
		}
		.form{
			flex:2;
		}
	}
		@include tablet {
			.sec3Image{
				display:flex;
				flex:1;
			}
		}
}