#section2{
	display: flex;
}

#section2{
	flex-direction: column;
		.exprience{
		    margin: 5%;
				pre:first-child{
				padding-bottom:15px;
				border-top: 1px solid orange;
				width:60px;
			}
			pre:nth-child(3){
				padding-top:15px;
				border-bottom: 1px solid orange;
				width:60px;
				float: right;
			}
	}
	h1{
		font-weight: 100;
		text-align: center;
	}
	@include sm-tablet{
		.exprience{
			flex: 1;
			div{
				margin: auto;
		  	width: 170px;
			}
			h1{
				text-align: left;
				font-size: 1.4em;
			}
		}
	}
}
@include sm-tablet{
	#section2{
		flex-direction: row;
		.sec2Image{
			flex: 1;
			> img{ 
				height: 350px; 
				width:90%
			}
		}
		.exprience{
			margin:auto;	
		}
	}
}