#section1, 
.floorPlan,
.unique {
	display:flex;
	height:280px;
	font-weight: 100;
}

#section1 {
	margin-top: -28px;
	.unique{
		display:none;
	}
	@include tablet{
	.unique{
		display:flex;
		flex:1;
		font-size: 1.75em;
		text-transform: uppercase;
		div{
			margin:auto;
			width: 250px;
				h3{
					text-align: center;
			    font-weight: 100;
				}
				pre:first-child{
					padding-bottom:15px;
					border-top: 1px solid orange;
					width:60px;
				}
				pre:nth-child(3){
					padding-top:15px;
					border-bottom: 1px solid orange;
					width:60px;
					float: right;
				}
			}
		}
	}
	.floorPlan{
		flex:2;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color:$white;
		background-color: $grey-black;
		& h3{
			font-weight: 100;
			font-size: 1.75em;
			font-style: italic;
		}
		pre{
			padding-bottom:15px;
			border-top: 1px solid orange;
			width:60px;
			margin:auto;
			}
		> div{
			text-align: center;
		}
		p{
			font-size:.85em;
		}
		> div:nth-child(2){
			width: 80%;
		}
	}
}

	@media (min-width: 800px)  {
		  #section1 .unique div h3{
		  font-size: 2.3rem;
		  width:225px;
	  }
	}