/* Base Styles -------------------- */

// Text

@mixin text($size: null, $l-height: null, $weight: null, $color: null) {
  font-size: $size;
  line-height: $l-height;
  font-weight: $weight;
  color: $color;
}

* {
  box-sizing: border-box;
}

body, html {
  @include text(1em, 1.5, $color: $grey);
  font-family: $stack-helvetica;
  min-width: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}



img {
  max-width: 100%;
}

/* Pseudo-classes ------------------ */

a {
  &:link {
    color: $color-link-default;
    text-decoration: none;
  }
  &:visited {
    color: $color-link-visited;
  }
  &:hover {
    color: rgba($color-link-default, .5);
  }
}
